{% extends 'base.html.twig' %}    
  {% block stylesheets %}
    <link href="{{asset('css/busqueda_user.css')}}" type="text/css" rel="stylesheet">
  {% endblock %}
{#{% block body %}
  {% for dependencia in dependencias %}
   <a href="{{ path('app_dependencia_show', { id: dependencia.getId }) }}">
      <span>{{ dependencia.getId }}</span>
    </a>
    {% endfor %}
 {% endblock %}#}

 

 {% block body %}



  {% include 'navbar.html.twig' %}


 <br><br>

 <div class="barra">
 
 <div class="titulo"></div>
 
 </div>

<div id="alin">
 <div id="contenedor">
  
  
 <h4>Dependencias:</h4>

 {#{{ form(form) }}#}


<form action="{{ path('dependencia_mostrar') }}" method="POST">
 
       <select name="seleccion">
        {% for dependencia in dependencias %}
      
   <option value={{ dependencia.id }}>{{ dependencia.nombre }}</option>
      

        {% endfor %}
      </select>  
    
      <input type="submit" value="ir"/>
    </form>
             <button class="custom-button" onclick="window.location='{{ path('app_dependencia_new') }}'">Crear nueva</button>


  </div>



  <div id="contenedor">
  
  
 <h4>Aulas:</h4>


<form action="{{ path('aula_mostrar') }}" method="POST">
 
       <select name="seleccion">
        {% for aula in aulas %}
      
   <option value={{ aula.id }}>{{ aula.carrera }}</option>
      

        {% endfor %}
      </select>  
    
      <input type="submit" value="ir"/>
    </form>
          <button class="custom-button" onclick="window.location='{{ path('app_aula_new') }}'">Crear nueva</button>


  </div>

  </div>

   {#<img class="logo" src="../public/imagenes/R.png">#}


{% endblock %}


 
 
 