{# extends 'base.html.twig' #}

{% block title %}{% endblock %}
<link href="{{asset('css/index.css')}}" type="text/css" rel="stylesheet">
{% block body %}
<button class="custom-button" onclick="window.location='{{ path('app_busqueda') }}'">Ir al buscador</button>

    <h1>Aulas:</h1>

    <table cellpadding="20%" class="tabla" class="table">
        
        <tbody>
        {% for aula in aulas %}
            <tr>
     
                <td>
                    <h3>Aula N°: {{aula.numero}}<h3>
                    <h3>Carrera: {{aula.carrera}}<h3>
                    <img class="imagen" src="{{ asset( 'uploads/imagenes/'~ aula.getImagen) }}"/>
                    <a href="{{ path('app_aula_show', {'id': aula.id}) }}">Mostrar</a>
                    <a href="{{ path('app_aula_edit', {'id': aula.id}) }}">Editar</a>
                    <a href="{{ path('app_aula_new') }}">Nueva</a>
                </td>
            </tr>
        {% else %}
         <tr>
                <td colspan="7">
                <h3>No hay aulas guardadas<h3>
           
                <a href="{{ path('app_aula_new') }}">Nueva</a>
                </td>
            <tr>
                
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
