
  
  

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
<button class="custom-button2" onclick="window.location.href='{{ path('app_busqueda') }}'">Ir al buscador</button>
  </li>
  <li>
    <form  id="" action="{{ path('app_logout') }}" method="">
  <button class="nav-link" id="submit" type="submit" value="consultar">Salir</button>
  </form> 
           
  </li>

   <li class="nav-item" role="presentation">
  <form method="post" action="{{ path('app_dependencia_edit', {'id': dependencium.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ dependencium.id) }}">
    <button class="btn btn-link">Editar</button>
</form>
           
  </li>
  <li>
  <form method="post" action="{{ path('app_dependencia_delete', {'id': dependencium.id}) }}" onsubmit="return confirm('Estas seguro que deseas borrar item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dependencium.id) }}">
    <button class="btn btn-link">Borrar</button>
</form>
           
  </li>
 
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
</div>



  
 